.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
hardware/*/*bak
.vscode/settings.json
hardware/led_panel/_saved_led_panel.pro
hardware/led_panel/led_panel-cache.lib
hardware/led_panel/led_panel.net
hardware/led_panel/oled.bck
hardware/led_panel/oled.dcm
hardware/led_panel/sym-lib-table
hardware/led_panel/gerber/led_panel_.9.zip
hardware/led_panel/gerber/led_panel-B.Cu.gbr
hardware/led_panel/gerber/led_panel-B.Mask.gbr
hardware/led_panel/gerber/led_panel-B.Paste.gbr
hardware/led_panel/gerber/led_panel-B.SilkS.gbr
hardware/led_panel/gerber/led_panel-Edge.Cuts.gbr
hardware/led_panel/gerber/led_panel-F.Cu.gbr
hardware/led_panel/gerber/led_panel-F.Mask.gbr
hardware/led_panel/gerber/led_panel-F.Paste.gbr
hardware/led_panel/gerber/led_panel-F.SilkS.gbr
hardware/led_panel/gerber/led_panel-NPTH.drl
hardware/led_panel/gerber/led_panel-PTH.drl
